// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
 
// Variables
@import 'variables';
 
// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

$primary-color: #2A7EBA;
$gray: #D1D2D2;
$secondary-color: #162430;
$red: #C72F2C;
$yellow: #C7C623;
$purple: #7925D1;
$green: #25D15B;
#red-text {
  color: $red;
}
#purple-text {
  color: $purple;
}
#pri-text {
  color: $primary-color;
}
#green-text {
  color: #25D15B;
}
#yellow-text {
  color: $yellow;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(black, black, black, rgb(42, 126, 186));
}

#bg {
  padding: 3rem;
  background: linear-gradient(
    rgba(0, 0, 0, .7),
    rgba(22, 36, 48, .6),
    rgba(42, 126, 186, .4),
    rgba(0, 0, 0, .7)),
    url('/img/desk.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  height: 100vh;
}

/* Welcome Page */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#lesson-container {
  width: 100vw;
  height: 86vh;
}

#box-left {
  width: 100%;
  overflow: scroll;
}

#box-mid {
  width: 100%;
  overflow: scroll;
}

#box-right {
  width: 100%;
  overflow: scroll;
}

#box-width {
  width: 100%;
}

.gutter {
  cursor: ew-resize;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

#jumbo-mini {
  width: 100%;
  background-color: $primary-color;
}

#jumbo-mini-mid {
  width: 100%;
  background-color: $gray;
}

#jumbo-mini-right {
  width: 100%;
  background-color: $secondary-color;
}

#handle {
  width: 10px;
  background: #ddd;
  cursor: ew-resize;
}

#quote {
  color: #2A7EBA;
}

#chooseUs {
  height: 100vh;
  width: 100vw;
}

#classLogo {
  width:5rem; height: 5rem;
}

#box {
  background-color: rgba(0,0,0,0.7); 
  width: 20rem; height: 20rem; 
  border: 1px solid white;
}

#box:hover {
  border: 1px solid #2A7EBA;
}

#footers {
  margin-top: auto;
  height: 3rem;
  background-color: black;
}

#about h3 {
  font-size: 38px;
  font-weight: lighter;
}

/* Intro Pages */

#subhead-html {
  letter-spacing: .3rem;
}

#lessons li {
  font-size: 16px;
}

#intro-left {
  width: 50%;
}

#intro-text {
  padding: 3rem 7rem;
}

#space {
  height: 5rem;
}

#space-small {
  height: 1.8rem;
}

#nav {
  background-color: black;
  margin : 0 !important;
}

@media only screen and (max-width: 600px) {
  #bg {
      height: auto;
  }
}

// .links > a {
//   color: #636b6f;
//   padding: 0 25px;
//   font-size: 12px;
//   font-weight: 600;
//   letter-spacing: .1rem;
//   text-decoration: none;
//   text-transform: uppercase;
// }