// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
 
// Variables
@import 'variables';
 
// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

$primary-color: #2A7EBA;
$gray: #D1D2D2;
$secondary-color: #162430;
$red: #C72F2C;
$yellow: #C7C623;
$purple: #7925D1;
$green: #25D15B;
#red-text {
  color: $red;
}
#purple-text {
  color: $purple;
}
#pri-text {
  color: $primary-color;
}
#green-text {
  color: #25D15B;
}
#yellow-text {
  color: $yellow;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(black, black, black, rgb(42, 126, 186));
}

#bg {
  padding: 3rem;
  background: linear-gradient(
    rgba(0, 0, 0, .7),
    rgba(22, 36, 48, .6),
    rgba(42, 126, 186, .4),
    rgba(0, 0, 0, .7)),
    url('/img/desk.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  height: 100vh;
}

/* Welcome Page */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#home-bottom-container {
  margin-top: 5rem;
}

#slideshow {
  display: block;
  width: 100%;
  height: 20rem;
  overflow: hidden;
  position: relative;
}

#slideshow > * {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  animation: slide 12s infinite;
  overflow: hidden;
  background-attachment: fixed;
}

#slide:nth-child(1) {
  left: 0%;
  animation-delay: -1s;
  background-image: url('/img/goals.jpg');
  background-size: cover;
  background-position: center top;
  background-attachment: contain;
}

#slide:nth-child(2) {
  animation-delay: 2s;
  background-image: url('/img/horizon.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: contain;
}

#slide:nth-child(3) {
  animation-delay: 5s;
  background-image: url('/img/worktogether.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: contain;
}

#slide:nth-child(4) {
  left: 0%;
  animation-delay: 8s;
  background-image: url('/img/window.jpg');
  background-size: cover;
  background-position: center top;
  background-attachment: contain;
}

#slide p {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #fff;
}

#slide {
  text-shadow: 1.5px 1.5px #000;
}

@keyframes slide {
  0%{
    left:100%;
    visibility:visible;
  }25%{
    left:0%;
    visibility:visible;
  }50%{
    left:-100%;
    visibility:visible;
  }50.01%{
    visibility:hidden;
  }100%{
    left:100%;
    visibility:hidden;
  }
}

/* Lessons */

.hidden{
  display: none;
}

#lesson-container {
  width: 100vw;
  height: 86vh;
}

#lesson-text {
  font-size: 16px;
}

#box-left {
  width: 100%;
  overflow: scroll;
}

#box-mid {
  width: 100%;
  overflow: scroll;
  flex-grow: 1;
}

#box-right {
  width: 100%;
  overflow: scroll;
}

#box-width {
  width: 100%;
}

.gutter {
  cursor: ew-resize;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

#jumbo-mini {
  width: 100%;
  background-color: $primary-color;
}

#jumbo-mini-mid {
  width: 100%;
  background-color: $gray;
}

#jumbo-mini-right {
  width: 100%;
  background-color: white;
}

.start-color {
  background-color: $primary-color;
}

.stop-color {
  background-color: $red;
}

.refresh-color {
  background-color: $green;
}

.timeContainer {
  border-bottom: 1px solid white;
  width: 80%;
}

#next-lesson {
  border: none;
    font-weight: 700;
    padding: .5;
    border-radius: 2rem;
    margin: .2rem;
}

#prev-lesson {
  border: none;
    font-weight: 700;
    padding: .5;
    border-radius: 2rem;
    margin: .2rem;
}

/* MAIN */

#handle {
  width: 10px;
  background: #ddd;
  cursor: ew-resize;
}

#quote {
  color: #2A7EBA;
}

#box {
  background-color: rgba(0,0,0,0.7);  
  border: 1px solid white;
  margin: .3rem;
}

#box:hover {
  border: 1px solid #2A7EBA;
}

#footers {
  margin-top: auto;
  height: 3rem;
  background-color: black;
}

/* About */

#profile-ric {
  width: 10rem; 
  height: 12rem;
  border-radius: 2rem;
}

#profile-bra {
  width: 10rem; 
  height: 14rem;
  border-radius: 2rem;
}

#profile-text {
  width: 80%; 
  background-color: rgba(0,0,0,0.7);
  padding: 1rem;
  border-radius: 1rem;
}

#about {
  margin-bottom: 1rem;
}

#div {
  border: .4px solid white;
}

#name {
  font-size: 32px;
  width: 80%;
}

/* Intro Pages */

#subhead-html {
  letter-spacing: .3rem;
}

#lessons li {
  font-size: 16px;
}

#intro-left {
  width: 50%;
}

#intro-text {
  padding: 3rem 7rem;
}

#space {
  height: 5rem;
}

#space-small {
  height: 1.8rem;
}

#nav {
  background-color: black;
  margin : 0 !important;
}

@media only screen and (max-width: 600px) {
  #bg {
    height: auto;
  }
  
  .display-1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.0;
  }
    
  .display-2 {
      font-size: 2.75rem;
      font-weight: 300;
      line-height: 1.0;
  }
    
  .display-3 {
      font-size: 2.25rem;
      font-weight: 300;
      line-height: 1.0;
  }
    
  .display-4 {
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.25;
  }
}

@media only screen and (max-width: 824px) and (min-width: 768px) {
  #bg {
    height: 115vh;
  }
}

@media only screen and (max-width: 646px) and (min-width: 601px) {
  #bg {
    height: 160vh;
  }
  #intro-text {
    padding: 3rem 2rem;
  }
}

@media only screen and (max-width: 600px) {
  #intro-text {
    padding: 3rem 2rem;
  }
}

@media only screen and (max-width: 767px) and (min-width: 647px) {
  #bg {
    height: 160vh;
  }

  #intro-text {
    padding: 3rem 2rem;
  }
}

@media only screen and (max-width: 991px) and (min-width: 601px) {
  .display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 992px) {
  #box {
    width: 20rem; height: 20rem;
  }

  #bg {
    padding: 1rem;
  }
}