// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
 
// Variables
@import 'variables';
 
// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

html, body {
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(black, black, black, rgb(42, 126, 186));
}

#bg {
  padding: 3rem;
  background: linear-gradient(
    rgba(0, 0, 0, .7),
    rgba(22, 36, 48, .6),
    rgba(42, 126, 186, .4),
    rgba(0, 0, 0, .7)),
    url('/img/desk.jpg') no-repeat;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

#chooseUs {
  height: 100vh;
  width: 100vw;
}

#classLogo {
  width:5rem; height: 5rem;
}

#box {
  background-color: rgba(0,0,0,0.7); 
  width: 20rem; height: 20rem; 
  border: 1px solid white;
}

#box:hover {
  border: 1px solid #2A7EBA;
}

#footers {
  margin-top: auto;
  height: 3rem;
  background-color: black;
}

h3 {
  font-size: 38px;
  font-weight: lighter;

}

#nav {
  background-color: black;
  margin : 0 !important;
}

// .links > a {
//   color: #636b6f;
//   padding: 0 25px;
//   font-size: 12px;
//   font-weight: 600;
//   letter-spacing: .1rem;
//   text-decoration: none;
//   text-transform: uppercase;
// }