html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%; 
    overflow: hidden;
}

#editor {
    height: 100%;
    width: 100%;
    display: inline-block;
    word-break: break-all;
    font-size: 10px;
}

.container {
  height: 100%;
  width: 100%;
    white-space: nowrap; 
    position: relative;

  
}


#editorIframe {
  height: 100%;
  display: inline-block;
    width: 100%;
    color: black;
    text-align: start;
    overflow-wrap: break-word;
    background-color: white;
}